@model tpeapp.Models.DiasSemana

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DiasSemana</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundaFeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundaFeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TercaFeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TercaFeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuartaFeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuartaFeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuintaFeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuintaFeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SextaFeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SextaFeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domingo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domingo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiaSemanaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
