@model IEnumerable<tpeapp.Models.DiasSemana>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SegundaFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TercaFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuartaFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuintaFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SextaFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sabado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domingo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SegundaFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TercaFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuartaFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuintaFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SextaFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sabado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domingo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiaSemanaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiaSemanaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiaSemanaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
