@model IEnumerable<tpeapp.Models.Congregacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CongregacaoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CongregacaoNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CongregacaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CongregacaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CongregacaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
