@model IEnumerable<tpeapp.Models.UsersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWoman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBaptismDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPioneer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMinisterialServant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsElder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPioneerAndMinisterialServant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPioneerAndElder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CongregationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWoman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBaptismDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPioneer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMinisterialServant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPioneerAndMinisterialServant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPioneerAndElder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CongregationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
