@model IEnumerable<tpeapp.Models.Privilegios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsPublicador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPioneiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsServo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnciao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPioneiroAndServo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPioneroAndAnciao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublicador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPioneiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsServo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnciao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPioneiroAndServo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPioneroAndAnciao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrivilegiosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrivilegiosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrivilegiosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
